.search1 input{
  float:left;
  background: #fff;
}
  
  .navbar-nav > li{
    float:left;
  }
  .navbar-default .navbar-nav > li a {
    color: #bdfef2;
    text-decoration: none;
    display: block;
    padding: 15px 13px;
    font-size: 14px;
    transition: all 0.5s ease;
}

footer {
  background-color: #f2f2f2;
  position: relative;
  clear: both;
  height: 150px;
  max-height: 260px;
  width: 100%;
}
.main-footer {
  padding-left: 0px;
}

.quick-links {
  list-style: none;
}

.links {
  height: 80px;
  padding: 2px 0px 0px;
}
.quick-links li{
  float:left;
}
.quick-links li a {
  display:block;
  overflow: hidden;
  color: #5e5e5e;
  font-family: "Open Sans";
  font-size: 20px;
  text-decoration: none;
  line-height: 34px;
  padding: 20px;
}
.foter-logo {
  padding: 70px 0px;
}
.video-sec {
  position: relative;
  padding: 20px 20px 100px;
  background: #000;
  color: #fff;
}
.video-heading.text-center {
  font-size: 22px;
}
.video-heading p {
  font-size: 13px;
  padding-top: 20px;
}